  </main>
  <footer>
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> Matheus Guimaraes. All rights reserved.</p>
      <div class="social">
        <a href="https://github.com/<%= social %>" target="_blank">GitHub</a>
        <a href="https://twitter.com/<%= social %>" target="_blank">Twitter</a>
        <a href="https://linkedin.com/in/<%= social %>" target="_blank">LinkedIn</a>
      </div>
    </div>
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>
